<section class="card-section">
    <div class="reset">
        <i class="fa-solid fa-trash-can reset__button"></i>
        <button type="reset" class="reset__button js_reset-btn" title="Reset button">Reset</button>
    </div>
    <article class="card">
        <div class="card__text">
            <h3 class="card__text_title js_preview-name">Nombre apellido</h3>
            <p class="card__text_subtitle js_preview-job">Front-end developer</p>
        </div>
        <div class="card__image" title="Preview image" alt="Preview image"></div>
        <ul class="card__social">
            <li>
                <a class="js_preview-tlf" href="" target="_blank" title="Telephone" alt="Telephone">
                    <i class="fa-solid fa-mobile-screen"></i></a>
            </li>
            <li>
                <a class="js_preview-email" href="" target="_blank" title="E-mail" alt="E-mail">
                    <i class="fa-regular fa-envelope"></i></a>
            </li>
            <li>
                <a class="js_preview-lin" href="" target="_blank" title="LinkedIn" alt="LinkedIn">
                    <i class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li>
                <a class="js_preview-git" href="" target="_blank" title="Github" alt="Github">
                    <i class="fa-brands fa-github-alt"></i></a>
            </li>
        </ul>
    </article>
</section>