<section class="card-section">
    <article class="card">
        <h3 class="card__title">Nombre apellido</h3>
        <p class="card__text">Front-end developer</p>
        <img class="card__image" src="" alt="">
        <div class="card__social">
            <ul>
                <li>
                    <a href="" target="_blank"><i class="fa-solid fa-mobile-screen"></i></i></a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="fa-light fa-envelope"></i></a>
                </li>
                <li>
                    <a href="" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li>
                    <a href="" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
                </li>
            </ul>
        </div>
    </article>
</section>