<section class="card-section">
    <div class="reset">
        <i class="fa-solid fa-trash-can reset__button"></i>
        <button type="reset" class="reset__button" title="Reset button">reset</button>
    </div>
    <article class="card">
        <div class="card__text">
            <h3 class="card__text_title">Nombre apellido</h3>
            <p class="card__text_subtitle">Front-end developer</p>
        </div>
        <div class="card__image" src="" title="Preview image"></div>
        <ul class="card__social">
            <li>
                <a href="" target="_blank"><i class="fa-solid fa-mobile-screen"></i></i></a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="fa-regular fa-envelope"></i></a>
            </li>
            <li>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li>
                <a href="" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
            </li>
        </ul>
    </article>
</section>