<!------------------------DISEÑA------------------------------------>

<div class="option">
    <i class="fa-regular fa-object-ungroup"></i>
    <h3 class="option__title">Diseña</h3>
    <i class ="far fa-objetc-ungroup"></i>
</div>

<form method="get" action=""><!--aquí va el link en js -->
    <fieldset>
        <legend class="desing__title">Colores</legend>

        <label for="option1">
            <input type="radio" id="option1" value="colors1" name="colors-options">
            <img src="./assets/images/palette-color-1.png" alt="Palette-color1">
        </label>

        <label for="option2">
            <input type="radio" id="option2" value="colors2" name="colors-options">
            <img src="./assets/images/palette-color-2.png" alt="Palette-color2">
        </label>

        <label for="option3">
            <input type="radio" id="option3" value="colors3" name="colors-options">
            <img src="./assets/images/palette-color-3.png" alt="Palette-color3">
        </label>
    </fieldset>
</form>


<!------------------------RELLENA------------------------------------>

<div class="option">
    <i class="fa-regular fa-object-ungroup"></i>
    <h3 class="option__title">Diseña</h3>
    <i class="fa-regular fa-angle-down"></i>
</div>
<form method="get" action="">
    <fieldset>
        <legend>Rellena</legend>
        <div class="stuffed">
            <label class="" for="firstName">Nombre completo</label>
            <input class="" placeholder="Nombre..." id="firstName" type="text" name="firstName" required />
            <label class="" for="job">Puesto</label>
            <input class="" placeholder="Nombre..." id="job" type="text" name="job" required />
            <label class="" for="firstName">Imagen de perfil</label>
            <input class="" />
            <label class="" for="emailAddress">Email </label>
            <input class="" placeholder="Ej: sally.hill@gmail.com" type="email" id="emailAddress" name="emailAddress"
                required />
            <label class="" for="telephone">Teléfono</label>
            <input class="" placeholder="Ej: 555-55-55-55" type="tel" id="telephone" name="telephone" />
            <label class="" for="linkedin">Linkedin</label>
            <input class="" placeholder="Ej: linkedin.com/in/sally-hill" id="linkedin" type="text" name="linkedin"
                required />
            <label class="" for="github">Github</label>
            <input class="" placeholder="Ej: @sally-hill" id="github" type="text" name="github" required />
        </div>
    </fieldset>

</form>

<!------------------------COMPARTE------------------------------------>

<div class="option">
    <i class="fa-regular fa-object-ungroup"></i>
    <h3 class="option__title">Comparte</h3>
    <i class="fa-regular fa-angle-down"></i>
</div>