<!------------------------DISEÑA------------------------------------>

<form method="get" action="" class="form">
    <!--aquí va el link en js -->
    <fieldset class="design">
        <div class="option">
            <span class="option__span">
                <i class="fa-regular fa-object-ungroup "></i>
                <h3 class="option__title">Diseña</h3>
            </span>
            <i class="arrow fa-solid fa-chevron-down js_arrow-design turn-around "></i>
        </div>

        <div class="election js_color-election">
            <legend class="election__title">Colores</legend>

            <span class="election__span">
                <label class="election__option" for="option">
                    <input class="election__input js-input-1" type="radio" id="option" value="colors1"
                        name="colors-options">
                    <img class="election__img" src="./assets/images/palette-color-1.png" alt="Palette-color1">
                </label>

                <label class="election__option" for="option">
                    <input class="election__input js-input-2" type="radio" id="option" value="colors2"
                        name="colors-options">
                    <img class="election__img" src="./assets/images/palette-color-2.png" alt="Palette-color2">
                </label>

                <label class="election__option" for="option">
                    <input class="election__input js-input-3" type="radio" id="option" value="colors3"
                        name="colors-options">
                    <img class="election__img" src="./assets/images/palette-color-3.png" alt="Palette-color3">
                </label>
            </span>
        </div>
    </fieldset>

    <!------------------------RELLENA------------------------------------>

    <fieldset>

        <div class="option">
            <span class="option__span">
                <i class="fa-regular fa-keyboard"></i>
                <h3 class="option__title">Rellena</h3>
            </span>
            <i class=" arrow fa-solid fa-chevron-down js_arrow-stuffed"></i>
        </div>

        <div class="collapsed js_stuffed-data">
            <!-- class = stuffed añadir con JS-->
            <label class="stuffed__label" for="firstName">Nombre completo</label>
            <input class="stuffed__input js_input-name" placeholder="Ej: Sally Jill" id="firstName" type="text"
                name="firstName" required />

            <label class="stuffed__label" for="job">Puesto</label>
            <input class="stuffed__input js_input-job" placeholder="Ej: Front-end unicorn" id="job" type="text"
                name="job" required />


            <label class="stuffed__label" for="profileImage">Imagen de perfil</label>
            <div class="stuffed__image">
                <input type="button" class="add-image" value="Añadir imagen" id="profileImage" title="Add image" />
                <div class="preview-image stuffed__input"></div>
            </div>

            <label class=" stuffed__label" for=" emailAddress">Email </label>
            <input class="stuffed__input js_input-email" placeholder="Ej: sally.hill@gmail.com" type="email"
                id="emailAddress" name="emailAddress" required />

            <label class="stuffed__label" for="telephone">Teléfono</label>
            <input class="stuffed__input js_input-tlf" placeholder="Ej: 555-55-55-55" type="tel" id="telephone"
                name="telephone" />

            <label class="stuffed__label" for="linkedin">Linkedin</label>
            <input class="stuffed__input js_input-lin" placeholder="Ej: linkedin.com/in/sally-hill" id="linkedin"
                type="text" name="linkedin" required />
            <label class="stuffed__label" for="github">Github</label>
            <input class="stuffed__input js_input-githup" placeholder="Ej: @sally-hill" id="github" type="text"
                name="github" required />
        </div>


    </fieldset>


    <!------------------------COMPARTE------------------------------------>

    <fieldset>
        <div class="option">
            <span class="option__span">
                <i class="fa-solid fa-share-nodes"></i>
                <h3 class="option__title">Comparte</h3>
            </span>
            <i class="arrow fa-solid fa-chevron-down js_arrow-share"></i>
        </div>
        <div class="collapsed js_share">
            <!-- class = share añadir con JS-->
            <button class="share__button" name="create-card" value="create-card"> <i
                    class="fa-solid fa-address-card share-icon"></i> Crear tarjeta </button>
        </div>
        <div class="collapsed js_created">
            <!-- class = created añadir con JS-->
            <h4 class="created__title">La tarjeta ha sido creada:</h4>
            <a href="#" class="created__link">Link</a>
            <a href="#" class="twitter"> <i class="fa-brands fa-twitter twitter-icon"></i> Compartir en twitter</a>
        </div>
    </fieldset>



</form>