.footer {
 /* position: fixed;
  width: 100%;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: $white;
  border-top: 1px solid $silver;
  &__small {
    color: $gris-pardusco;
    font-size: 14px;
    opacity: 0.5;
    font-family: $font-sans;
  }
  &__logo {
    height: 40px;
    width: 103x;
  }
}
@media all and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
  }
}
