.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: $white;
  height: 110px;
  border-style: solid hidden hidden hidden;
  border-top-color: $silver;
  border-width: 1px;
  &__small {
    color: $gris-pardusco;
    font-size: 14px;
    opacity: 0.5;
    font-family: $font-sans;
  }
  &__logo {
    margin-top: 12px;
    height: 40px;
    width: 103x;
  }
}
@media all and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
  }
}
