.form {
  padding: 27px 20px 31px 20px;
}

//------------------------DISEÑA------------------------------------//

//------------------------RELLENA------------------------------------//

.stuffed {
  display: flex;
  flex-direction: column;
}

//------------------------COMPARTE------------------------------------//
