.header {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 5%;
  padding-left: 8%;
  padding-right: 8%;
  background-color: $white-four;
  &__img {
    object-fit: cover;
    width: 250px;
    height: 63px;
  }
}
@media all and (min-width: 768px) {
  .header {
    padding-top: 40%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    &__img {
      width: 417px;
      height: 107px;
    }
  }
}
