.header {
  text-align: center;
  padding-top: 95px;
  padding-bottom: 0px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: $white-four;
  &__img {
    object-fit: cover;
    width: 250px;
    height: 63px;
  }
}
@media all and (min-width: 768px) {
  .header {
    // padding-top: 350px;
    // padding-bottom: 0px;
    // padding-left: 174px;
    // padding-right: 175px;
    &__img {
      width: 417px;
      height: 107px;
    }
  }
}
