.body {
  height: 100vh;
}
.main {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  @media all and (min-width: 768px) {
    height: 90vh;
    padding: 0px 174px 59px 175px;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      padding-top: 0px;
      padding-bottom: 10px;
      color: $dark-pink;
      -webkit-text-stroke: 0.99px $dark-purple;
      font-family: $font-merri;
      font-size: 19.2px;
      font-weight: 900;
      @media all and (min-width: 768px) {
        font-size: 26px;
      }
    }
    &__text {
      color: $dark-gree-blue;
      font-size: 12.8px;
      width: 230px;
      text-align: center;
      padding-bottom: 17.8px;
      @media all and (min-width: 768px) {
        font-size: 17px;
        width: 331px;
        padding-bottom: 27px;
      }
    }
  }
  .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border: 1px solid $dark-purple;
    border-radius: 3px;
    border-style: dotted;
    padding: 15px 20px 9.8px 20px;
    @media all and (min-width: 768px) {
      gap: 51.5px;
      padding: 15px 20px 10px;
    }
    &__option {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1.5;
    }
    &__text {
      color: $dark-pink;
      font-size: 12.8px;
      @media all and (min-width: 768px) {
        font-size: 16px;
      }
    }
    i {
      font-size: 22.4px;
      color: $dark-pink;
      @media all and (min-width: 768px) {
        font-size: 30px;
      }
    }
  }
  .button {
    margin-top: 38.6px;
    margin-bottom: 30px;
    background-color: $dark-pink;
    width: 129px;
    height: 42px;
    border-radius: 21px;
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    &:hover {
      transition: all 300ms;
      transform: scale(1.5);
    }
    @media all and (min-width: 768px) {
      margin-top: 60px;
    }
  }
}
